<section id="breadcrumb" class="bg-black py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <h2 class="m-0 text-white">Blog</h2>
            </div>

            <div class="col-lg-9 text-end">
                <nav aria-label="breadcrumb">
                    <ul class="nav justify-content-end align-items-center text-secondary">
                        <li class="nav-item">
                            <a class="nav-link px-1 text-secondary" href="#">Home</a>
                        </li>

                        <li class="nav-item px-1">
                            <i class="bi bi-arrow-right-short"></i>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link px-1 text-secondary" href="#">Blog</a>
                        </li>

                        <li class="nav-item px-1">
                            <i class="bi bi-arrow-right-short"></i>
                        </li>

                        <li class="nav-item">
                            <span class="nav-link px-1 text-white">Post-1A</span>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</section>