<footer class="">
    <section class="bg-body-secondary py-3">
        <div class="container">
        <div class="row p-3">
            <div class="col-3">lorex</div>
            <div class="col-3">
                <nav aria-label="Categories">
                    <h6 class="mb-3">Categories</h6>
                    <ul class="nav flex-column gap-1">
                        <li class="nav-item">lorem-ipus</li>
                        <li class="nav-item">lorem-ipus</li>
                        <li class="nav-item">lorem-ipus</li>
                        <li class="nav-item">lorem-ipus</li>
                    </ul>
                </nav>
            </div>
            <div class="col-3">
                <nav aria-label="Categories">
                    <h6 class="mb-3">Categories</h6>
                    <ul class="nav flex-column gap-1">
                        <li class="nav-item">lorem-ipus</li>
                        <li class="nav-item">lorem-ipus</li>
                        <li class="nav-item">lorem-ipus</li>
                        <li class="nav-item">lorem-ipus</li>
                    </ul>
                </nav>
            </div>
            <div class="col-3">
                <article>
                    <header>
                        <h6>Contact Us</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                    </header>
                    <footer>
                        <nav aria-label="Primary navigation">
                            <ul class="nav align-items-center gap-3">
                                <li class="nav-item">
                                    <a class="nav-link p-0" href="#" aria-label="Messenger">
                                        <i class="bi bi-messenger"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0" href="#" aria-label="Instagram">
                                        <i class="bi bi-instagram"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0" href="#" aria-label="Behance">
                                        <i class="bi bi-behance"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0" href="#" aria-label="Twitter">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0" href="#" aria-label="WhatsApp">
                                        <i class="bi bi-whatsapp"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>


                    </footer>
                </article>
            </div>
        </div>
    </div>
    </section>
<section>
    <div class="container">
    <div class="row align-items-center py-3">
            <div class="col-12 col-md-3 p-0">
                <p class="mb-0">(c) 2018 Emerging Themes</p>
            </div>

            <div class="col-12 col-md-9  p-0">
                <nav aria-label="Footer legal navigation" class="d-flex justify-content-md-end">
                    <ul class="nav align-items-center gap-4">
                        <li class="nav-item">
                            <a class="nav-link p-0" href="#">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="#">
                                Terms and Conditions
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        </div>
</section>
</footer>