<nav aria-label="Pagination">
    <ul class="nav align-items-center gap-2 my-4">

        <li class="nav-item bg-warning text-center px-3 py-2">
            <span class="nav-link active p-0" aria-current="page">1</span>
        </li>

        <li class="nav-item bg-warning text-center px-3 py-2">
            <a class="nav-link p-0" href="#">2</a>
        </li>

        <li class="nav-item bg-warning text-center px-3 py-2">
            <a class="nav-link p-0" href="#">3</a>
        </li>

        <li class="nav-item bg-warning text-center px-3 py-2">
            <a class="nav-link p-0" href="#">4</a>
        </li>

        <!-- Icon Item -->
        <li class="nav-item bg-secondary-subtle d-flex align-items-center justify-content-center px-2">
            <a class="nav-link p-0 fs-3" href="#" aria-label="Next page">
                <i class="bi bi-arrow-right-square"></i>
            </a>
        </li>

    </ul>
</nav>
