<article class="card h-100 border-0 rounded-1">

                    <!-- Post Thumbnail -->
                    <img src="https://dummyimage.com/300x200/cccccc/000000" class="card-img-top rounded-0"
                        alt="Post thumbnail">

                    <!-- Post Meta -->
                    <header class="card-footer bg-transparent text-muted small px-0 py-2">
                        <span class="me-2">By Admin</span>
                        <span class="me-2">•</span>
                        <time datetime="2026-01-01">January 01, 2026</time>
                    </header>

                    <!-- Post Content -->
                    <div class="card-body p-0">
                        <h6 class="card-title mb-2">
                            Lorem ipsum dolor sit amet dolor sit amet
                        </h6>

                        <p class="card-text text-muted small mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                        </p>
                    </div>

                </article>